.playButtonWrapper {
  margin: auto;
  display: grid;
  position: relative;
}
.playButton {
  user-select: none;
  position: relative;
  cursor: pointer;
  margin: auto;
  display: grid;

  background: #284652;
  color: #C8DCE5;

  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 0px 30px 60px #21373f68;
  overflow: hidden;
}

#main-massive + .outer-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 114px;
  height: 114px;
  border-radius: 50%;
  background:  transparent;
  border: #28465200 2px solid;

  transition: border 0.2s ease;
}

#bottom-right + .outer-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 84px;
  height: 84px;
  border-radius: 50%;
  background:  transparent;
  border: #28465200 2px solid;

  transition: border 0.2s ease;
}

/* MASSIVE */
#main-massive.playButton.animate-reverse:focus + div.outer-ring {
  border: #284652 2px solid;
}
#main-massive.playButton:focus + div.outer-ring {
  border: #5c889a 2px solid;
}

/* Bottom Right */
#bottom-right.playButton.animate-reverse:focus + div.outer-ring {
  border: #284652 2px solid;
}
#bottom-right.playButton:focus + div.outer-ring {
  border: #5c889a 2px solid;
}

.playButton.depressed {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: scale(0.9);
}
.playButton.comingUp {
  transition: transform 1s ease, box-shadow 0.2s ease;
  transform: scale(1);
}

.playButton.animate-fill {
  background: #618492;
  color: #C8DCE5;
}
.playButton.animate-reverse {
  background: #618492;
}

.playButton.animate-reverse::after {
  opacity: 1;
  transition: 1.2s cubic-bezier(0.39, 0.75, 0.26, 1.07);
  transform: translateY(0%) rotate(0deg);
}

.playButton.animate-fill::after {
  opacity: 1;
  transition: 1.2s cubic-bezier(0.39, 0.75, 0.26, 1.07);
  transform: translateY(-78%) rotate(400deg);
}
.playButton::after {
  opacity: 0;
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;

  height: 200%;
  width: 200%;

  background: #284652;

  border-radius: 45%;
}

.icon {
  user-select: none;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  z-index: 1000;
}
