@font-face {
    font-family: "Satoshi-Medium";
    font-style: normal;
    font-weight: 500;
    src: url('https://anima-uploads.s3.amazonaws.com/projects/60f162c42b6702791dd668c8/fonts/satoshi-medium.woff') format("woff");
}

@font-face {
    font-family: "Satoshi-Bold";
    font-style: normal;
    font-weight: 700;
    src: url('https://anima-uploads.s3.amazonaws.com/projects/60c8dfb401c829d7b60f5d67/fonts/satoshi-bold.otf') format("opentype");
}

@font-face {
    font-family: "Satoshi-Regular";
    font-style: normal;
    font-weight: 400;
    src: url('https://anima-uploads.s3.amazonaws.com/projects/60e032ae67b50683596e95a5/fonts/satoshi-regular.ttf') format("truetype");
}

body {
    background: #1E2E2F;
    overflow-x: hidden;
    font-family: Satoshi-Medium;
}
.main-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.main-content.hidden {
    display: none;
}

.main-inner {
    height: 600px;
    margin: 10px 10px 10px 10%;
}

.upload-wrapper .lyrics-upload-wrapper textarea {
    height: 280px;
    width: 300px;
}
.lyrics-upload-wrapper {
    position: absolute;
    left: 570px;
}

@media screen and (max-width: 1200px) {
    .lyrics-upload-wrapper {
        position: relative;
        left: 0;
        display: grid;
    }
    .upload-wrapper .lyrics-upload-wrapper textarea {
        width: auto;
        margin: 20px 0 auto 0px;
    }
    .main-inner {
        margin: 10px 10px 10px 10px;
    }
}

.upload-directions {
    width: 50%;
    margin: 100px auto auto 100px;
}

.upload-directions > h1 {
    color: #F0FEFF;
    font-family: Satoshi-Bold;
}
.upload-directions > p {
    color: #c0d7d8;
    max-width: 500px;
}

.filepond--drop-label {
    background: #9eb6b7;
    color: #0b2021;
    border-radius: 7px;
    font-family: Satoshi-Medium;
}
.filepond--root .filepond--credits {
    display: none;
}

.upload-action-button {
    position: relative;
    width: auto;
    height: 75px;
    margin-top: 10px;
    border-radius: 10px;

    background: #0d2628;
    color: #abc9cb;
    letter-spacing: 1px;

    cursor: pointer;

    display: grid;
    place-items: center;

    transition: color 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}
.upload-action-button:hover {
    color: #c6dfe0;
    background: #0c2021;
    box-shadow: 0px 20px 55px #0a212378;
}
.upload-action-button.warn {
    color: #a06258;
    background: #292218;
    box-shadow: none;
}
.upload-action-button.inprogress {
    color: #41595d;
    background: #182829;
    box-shadow: none;
}

.upload-wrapper {
    position: relative;
    margin: 50px auto auto 100px;
    width: 550px;
    height: auto;
    padding-bottom: 100px;
    display: grid;
}


.upload-wrapper textarea {
    font-family: Satoshi-Medium;
    font-size: 15px;
    margin: 20px 0 auto 0px;
    height: 100px;
    background: #314344;
    padding: 10px;
    text-indent: 5px;
    color: #9eb6b7;
    resize: none;
    border: 1px solid #18242500;
    border-radius: 10px;
    transition: background 0.2s ease;
}
.upload-wrapper textarea:focus {
    background: #395152;
    outline: none;
}
.upload-wrapper textarea::placeholder {
    color: #182425;
}

.google-sign-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.google-sign-in button {
    background: #9eb6b7;
    color: #182325;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 220px;
    box-shadow: 0px 20px 40px #24393a80;
    height: 50px;
    font-size: 17px;
    font-family: inherit;
    transition: background 0.2s ease;
}
.google-sign-in button:hover {
    background: #afc6c7;
}
.google-sign-in.hidden {
    display: none;
}

.google-account-wrapper {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 70px;
    border-radius: 10px;
    padding: 10px 25px;
    background: #0b1313;
}
.account-name {
    color: #c2d1d2;
}


.filepondWrapper {
    margin: 40px auto 0;
    width: 550px;
}

.track-detail {
    margin: 20px auto auto 0px;
    background: #314344;
    color: #9eb6b7;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 520px;
    font-size: 30px;
    padding: 20px 15px 20px 15px;
    font-family: Satoshi-Bold;
}
.track-detail:focus {
    background: #395152;
    outline: none;
}
.track-detail::placeholder {
    color: #182425;
}

.checkbox-wrapper {
    margin: 30px 0px 10px;
    color: #b8ccce;

    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;
}
.checkbox-group, .checkbox-group > *, .checkbox-group > *:hover {
    user-select: none;
    cursor: pointer;
}